---
layout: default
---

<div id="homeid" class="col-sm-8 ml-0 nopadding-left">
	<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" >
		<!-- Menu -->
		<ol class="carousel-indicators">
			{% assign slide_index = 0 %}
			{% for static_file in site.static_files %}
				{% if static_file.path contains '/images/slider/' and static_file.extname == '.png' %}
					<li data-target="#carousel" data-slide-to="{{ slide_index }}" {% if slide_index == 0 %}class="active"{% endif %}></li>
					{% assign slide_index = slide_index | plus: 1 %}
				{% endif %}
			{% endfor %}
		</ol>


		<!-- Items -->
		<div class="carousel-inner" markdown="0">
			{% assign first_slide = true %}
			{% for static_file in site.static_files %}
				{% if static_file.path contains '/images/slider/' and static_file.extname == '.png' %}
					<div class="item {% if first_slide %}active{% endif %}">
						<img src="{{ site.url }}{{ static_file.path }}" alt="Slide" />
					</div>
					{% assign first_slide = false %}
				{% endif %}
			{% endfor %}
		</div>
		<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
		</a>
	</div>

	{{ content }}
</div>

<div id="newsid" class="col-sm-4 nopadding-right" >
	{% include tweets.html %}
</div>
